In [990]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [991]:
school_data_complete.head() #displaying chart for visualization

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [992]:
school_count=school_data_complete['school_name'].nunique() #getting total number of schools
school_count

15

In [993]:
student_count=school_data_complete['Student ID'].nunique() #getting total number of students
student_count

39170

In [994]:
budget_sum=school_data['budget'].sum() #getting total budget amount
budget_sum

24649428

In [995]:
average_math=school_data_complete['math_score'].mean() #getting average math score
average_math

78.98537145774827

In [996]:
average_reading=school_data_complete['reading_score'].mean() #getting average reading score
average_reading

81.87784018381414

In [997]:
#getting percentage passing math
percentage_math=len(school_data_complete[school_data_complete['math_score']>=70])/student_count*100
percentage_math

74.9808526933878

In [998]:
#getting percentage passing reading
percentage_reading=len(school_data_complete[school_data_complete['reading_score']>=70])/student_count*100
percentage_reading

85.80546336482001

In [999]:
#getting percentage passing both
percentage_both=len(school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)])/student_count*100
percentage_both

65.17232575950983

In [1000]:
pd.DataFrame({'Total Schools':school_count,
             'Total Students':student_count,
             'Total Budget':budget_sum,
             'Average Math Score':average_math,
             'Average Reading Score':average_reading,
              '% Passing Math':percentage_math,
              '% Passing Reading':percentage_reading,
             '% Overall Passing':percentage_both},index=[0])

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [1001]:
averages=school_data_complete.groupby('school_name')[['math_score','reading_score']].mean()
averages

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [1002]:
averages=averages.reset_index()
school_data=school_data.reset_index()
school_data

    index  School ID            school_name      type  size   budget
0       0          0      Huang High School  District  2917  1910635
1       1          1   Figueroa High School  District  2949  1884411
2       2          2    Shelton High School   Charter  1761  1056600
3       3          3  Hernandez High School  District  4635  3022020
4       4          4    Griffin High School   Charter  1468   917500
5       5          5     Wilson High School   Charter  2283  1319574
6       6          6    Cabrera High School   Charter  1858  1081356
7       7          7     Bailey High School  District  4976  3124928
8       8          8     Holden High School   Charter   427   248087
9       9          9       Pena High School   Charter   962   585858
10     10         10     Wright High School   Charter  1800  1049400
11     11         11  Rodriguez High School  District  3999  2547363
12     12         12    Johnson High School  District  4761  3094650
13     13         13       Ford High School  District  2739  1763916
14     14         14     Thomas High School   Charter  1635  1043130

In [1003]:
school_data['per student budget']=school_data['budget']/school_data['size']

In [1004]:
#school_data=school_data.set_index('school_name')

In [1005]:
school_data=pd.merge(school_data,averages)

In [1006]:
school_data_complete['math_dummy']=np.where(school_data_complete['math_score']>=70,1,0)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_dummy
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1

In [1007]:
math_passing=school_data_complete.groupby('school_name', as_index=False)['math_dummy'].sum()
math_passing=(math_passing)

In [1008]:
school_data=pd.merge(school_data, math_passing)
school_data['% passing math']=school_data['math_dummy']/school_data['size']*100
school_data=school_data.drop('math_dummy',axis=1) #removing math_dummy
school_data

,index,School ID,school_name,type,size,budget,per student budget,math_score,reading_score,% passing math
0,0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922
1,1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471
2,2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121
3,3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967
4,4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371
5,5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718
6,6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477
7,7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064
8,8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855
9,9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595
10,10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333
11,11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592
12,12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551
13,13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602
14,14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171

In [1009]:
school_data_complete['reading_dummy']=np.where(school_data_complete['reading_score']>=70,1,0)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_dummy,reading_dummy
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1,1

In [1010]:
reading_passing=school_data_complete.groupby('school_name', as_index=False)['reading_dummy'].sum()
reading_passing=(reading_passing)

In [1011]:
school_data=pd.merge(school_data, reading_passing)
school_data['% passing reading']=school_data['reading_dummy']/school_data['size']*100
school_data=school_data.drop('reading_dummy',axis=1) #removing reading_dummy
school_data

,index,School ID,school_name,type,size,budget,per student budget,math_score,reading_score,% passing math,% passing reading
0,0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
1,1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
2,2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
3,3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
4,4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
5,5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
6,6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
7,7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
8,8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
9,9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
10,10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111
11,11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
12,12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
13,13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
14,14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869

In [1012]:
school_data_complete['both_dummy']=np.where((school_data_complete['reading_score']) & (school_data_complete['math_score'])>=70,1,0)
school_data_complete #both_dummy is not accurate

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_dummy,reading_dummy,both_dummy
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1,1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1,1,0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1,1,1

In [1013]:
both_passing=school_data_complete.groupby('school_name', as_index=False)['both_dummy'].sum()
both_passing=(both_passing) #both Passing is not accurate

In [1014]:
school_data=pd.merge(school_data, both_passing)
school_data['% overall passing']=school_data['both_dummy']/school_data['size']*100
school_data=school_data.drop('both_dummy',axis=1) #removing both_dummy
school_data #% Overall Passing is not accurate because the dummy itself wasn't accurate

,index,School ID,school_name,type,size,budget,per student budget,math_score,reading_score,% passing math,% passing reading,% overall passing
0,0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
1,1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
2,2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463
3,3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811
4,4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240
5,5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495
6,6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141
7,7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659
8,8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712
9,9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050
10,10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556
11,11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
12,12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
13,13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579
14,14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661

In [1015]:
school_data=school_data.set_index('school_name') #setting school name as the index to mimic the style of the example

In [1016]:
school_data #% Overall Passing is not accurate

,index,School ID,type,size,budget,per student budget,math_score,reading_score,% passing math,% passing reading,% overall passing
school_name,,,,,,,,,,,
Huang High School,0,0,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
Figueroa High School,1,1,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
Shelton High School,2,2,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463
Hernandez High School,3,3,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811
Griffin High School,4,4,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240
Wilson High School,5,5,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495
Cabrera High School,6,6,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141
Bailey High School,7,7,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659
Holden High School,8,8,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712
Pena High School,9,9,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050
Wright High School,10,10,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556
Rodriguez High School,11,11,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
Johnson High School,12,12,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
Ford High School,13,13,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579
Thomas High School,14,14,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661

In [1017]:
school_data=school_data.drop('index',axis=1) #removing index

In [1018]:
school_data=school_data.drop('School ID',axis=1) #removing school id

In [1019]:
school_data #% Overall Passing is not accurate

,type,size,budget,per student budget,math_score,reading_score,% passing math,% passing reading,% overall passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661

In [1020]:
school_data=school_data.rename(columns={'school_name':'School Name',
                                       'type': 'School Type',
                                       'size': 'Total Students',
                                       'budget': 'Total School Budget',
                                       'per student budget': 'Per Student Budget',
                                       'math_score': 'Average Math Score',
                                       'reading_score': 'Average Reading Score',
                                       '% passing math':'% Passing Math',
                                       '% passing reading': '% Passing Reading',
                                       '% overall passing': '% Overall Passing'})

In [1021]:
school_data=school_data.sort_values('school_name') #reorganizing alphabetically by school name

In [1022]:
school_data #% Overall Passing is not accurate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556

In [1023]:
school_data = school_data.sort_values("% Overall Passing", ascending=False) #Top Performing School per % Overall Passing
school_data.head()#% Overall Passing is not accurate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050

In [1024]:
school_data = school_data.sort_values("% Overall Passing", ascending=True) #Bottom Performing School per % Overall Passing
school_data.head() #% Overall Passing is not accurate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659

In [1025]:
#Per School Math Scores by Grade
school_data_grouped=school_data_complete.groupby(['school_name','grade']).mean()
school_data_grouped['math_score'].mean()
school_data_grouped

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget  math_dummy  \
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0    0.663438
                      11th         7.0  4976.0  3124928.0    0.684253
                      12th         7.0  4976.0  3124928.0    0.642996
                      9th          7.0  4976.0  3124928.0    0.671468
Cabrera High School   10th         6.0  1858.0  1081356.0    0.939914
                      11th         6.0  1858.0  1081356.0    0.923237
                      12th         6.0  1858.0  1081356.0    0.950262
                      9th          6.0  1858.0  1081356.0    0.952652
Figueroa High School  10th         1.0  2949.0  1884411.0    0.665793
                      11th         1.0  2949.0  1884411.0    0.653032
                      12th         1.0  2949.0  1884411.0    0.685990
                      9th          1.0  2949.0  1884411.0    0.641355
Ford High School      10th        13.0  2739.0  1763916.0    0.693503
                      11th        13.0  2739.0  1763916.0    0.687405
                      12th        13.0  2739.0  1763916.0    0.654917
                      9th         13.0  2739.0  1763916.0    0.689076
Griffin High School   10th         4.0  1468.0   917500.0    0.940887
                      11th         4.0  1468.0   917500.0    0.941828
                      12th         4.0  1468.0   917500.0    0.928082
                      9th          4.0  1468.0   917500.0    0.924205
Hernandez High School 10th         3.0  4635.0  3022020.0    0.667482
                      11th         3.0  4635.0  3022020.0    0.668199
                      12th         3.0  4635.0  3022020.0    0.667377
                      9th          3.0  4635.0  3022020.0    0.667149
Holden High School    10th         8.0   427.0   248087.0    0.929825
                      11th         8.0   427.0   248087.0    0.912621
                      12th         8.0   427.0   248087.0    0.951807
                      9th          8.0   427.0   248087.0    0.913386
Huang High School     10th         0.0  2917.0  1910635.0    0.634941
                      11th         0.0  2917.0  1910635.0    0.647712
                      12th         0.0  2917.0  1910635.0    0.661538
                      9th          0.0  2917.0  1910635.0    0.681280
Johnson High School   10th        12.0  4761.0  3094650.0    0.651182
                      11th        12.0  4761.0  3094650.0    0.669449
                      12th        12.0  4761.0  3094650.0    0.650641
                      9th         12.0  4761.0  3094650.0    0.667857
Pena High School      10th         9.0   962.0   585858.0    0.944000
                      11th         9.0   962.0   585858.0    0.960938
                      12th         9.0   962.0   585858.0    0.950276
                      9th          9.0   962.0   585858.0    0.930909
Rodriguez High School 10th        11.0  3999.0  2547363.0    0.658654
                      11th        11.0  3999.0  2547363.0    0.654076
                      12th        11.0  3999.0  2547363.0    0.681876
                      9th         11.0  3999.0  2547363.0    0.664089
Shelton High School   10th         2.0  1761.0  1056600.0    0.933036
                      11th         2.0  1761.0  1056600.0    0.949029
                      12th         2.0  1761.0  1056600.0    0.940701
                      9th          2.0  1761.0  1056600.0    0.933962
Thomas High School    10th        14.0  1635.0  1043130.0    0.940618
                      11th        14.0  1635.0  1043130.0    0.925301
                      12th        14.0  1635.0  1043130.0    0.928994
                      9th         14.0  1635.0  1043130.0    0.934924
Wilson High School    10th         5.0  2283.0  1319574.0    0.942244
                      11th         5.0  2283.0  1319574.0    0.936561
                      12th         5.0  2283.0  1319574.0    0.944072
                      9th          5.0  2283.0  1319574.0    0.933439
Wright High School    10th        10.0  1800.0  1049400.0    0.932099
                      11th        10.0  1800.0  1049400.0    0.926437
                      12th        10.0  1800.0  1049400.0    0.932249
                      9th         10.0  1800.0  1049400.0    0.941176

                             reading_dummy  both_dummy
school_name           grade
Bailey High School    10th        0.835351    0.320420
                      11th        0.805755    0.315747
                      12th        0.813230    0.285019
                      9th         0.821674    0.291495
Cabrera High School   10th        0.974249    0.484979
                      11th        0.970954    0.514523
                      12th        0.968586    0.497382
                      9th         0.967803    0.532197
Figueroa High School  10th        0.812582    0.302752
                      11th        0.781382    0.294781
                      12th        0.819646    0.301127
                      9th         0.815421    0.304907
Ford High School      10th        0.790960    0.300847
                      11th        0.799697    0.327769
                      12th        0.782931    0.289425
                      9th         0.795918    0.300120
Griffin High School   10th        0.972906    0.507389
                      11th        0.975069    0.504155
                      12th        0.979452    0.489726
                      9th         0.960880    0.501222
Hernandez High School 10th        0.806846    0.300733
                      11th        0.817096    0.333640
                      12th        0.797441    0.288913
                      9th         0.811143    0.314761
Holden High School    10th        0.964912    0.570175
                      11th        0.961165    0.446602
                      12th        0.987952    0.518072
                      9th         0.944882    0.456693
Huang High School     10th        0.821382    0.293351
                      11th        0.805825    0.288488
                      12th        0.811966    0.300855
                      9th         0.812796    0.298578
Johnson High School   10th        0.814996    0.279544
                      11th        0.796327    0.303840
                      12th        0.819444    0.301282
                      9th         0.818571    0.320000
Pena High School      10th        0.956000    0.512000
                      11th        0.949219    0.496094
                      12th        0.944751    0.469613
                      9th         0.981818    0.509091
Rodriguez High School 10th        0.802885    0.298077
                      11th        0.808151    0.286282
                      12th        0.792142    0.294043
                      9th         0.803265    0.304124
Shelton High School   10th        0.937500    0.446429
                      11th        0.973301    0.521845
                      12th        0.954178    0.487871
                      9th         0.967925    0.528302
Thomas High School    10th        0.976247    0.529691
                      11th        0.971084    0.481928
                      12th        0.961538    0.529586
                      9th         0.980477    0.509761
Wilson High School    10th        0.962046    0.506601
                      11th        0.966611    0.500835
                      12th        0.964206    0.501119
                      9th         0.968304    0.488114
Wright High School    10th        0.969136    0.506173
                      11th        0.972414    0.505747
                      12th        0.964770    0.512195
                      9th         0.958824    0.535294

In [1026]:
math_per_grade=school_data_grouped.pivot_table('math_score',['school_name'],'grade')
#math_per_grade.reindex_axis(['9th','10th','11th','12th'],axis=1) reorganizing DOES NOT WORK
math_per_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [1027]:
#Per School Reading Scores by Grade
reading_per_grade=school_data_grouped.pivot_table('reading_score',['school_name'],'grade')
#math_per_grade.reindex_axis(['9th','10th','11th','12th'],axis=1) reorganizing DOES NOT WORK
reading_per_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [1028]:
school_data.head() #to help me with visualization because i keep getting errors when trying to bin

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659

In [1029]:
#Scores by School Spending
bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]
school_data['Spending Ranges per Student']=pd.cut(school_data["Per Student Budget"], bins, labels=group_names).head()
#school_data.groupby('Spending Ranges per Student')
#print(school_data["Average Math Score"].count())
#school_data[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
#school_data=school_data.set_index('Spending Ranges per Student') 
school_data #can't figure out how to make make the chart appear as the one in PyCitySchools_starter

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges per Student
school_name,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627,$645-680
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402,$630-645
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902,$630-645
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735,$645-680
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659,$585-630
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579,NaN
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811,NaN
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712,NaN
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463,NaN
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495,NaN
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050,NaN
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240,NaN
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141,NaN
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661,NaN
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556,NaN

In [1032]:
#Scores by School Size
bins = [0, 1000, 2000, 5000]
group_names = ["Small <1000", "Medium 1000-2000", "Large 2000-5000"]
school_data['School Size']=pd.cut(school_data["Total Students"], bins, labels=group_names).head()
school_data #can't figure out how to make make the chart appear as the one in PyCitySchools_starter

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges per Student,School Size
school_name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,29.516627,$645-680,Large 2000-5000
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,29.607402,$630-645,Large 2000-5000
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,30.111902,$630-645,Large 2000-5000
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,30.182735,$645-680,Large 2000-5000
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,30.345659,$585-630,Large 2000-5000
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,30.485579,NaN,NaN
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,31.024811,NaN,NaN
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,49.648712,NaN,NaN
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,49.744463,NaN,NaN
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,49.890495,NaN,NaN
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,49.896050,NaN,NaN
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,50.136240,NaN,NaN
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,50.861141,NaN,NaN
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,51.192661,NaN,NaN
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,51.555556,NaN,NaN

In [1031]:
#Scores by School Type
bins = ["Charter","District"] #how do you bin strings?
group_names = ["Charter", "District"]
school_data['School Type']=pd.cut(school_data["School Type"], bins, labels=group_names).head() #can't figure out why column names school_data don't work

ValueError: could not convert string to float: 'Charter'

In [ ]:
#Since i couldn't figure out where to find the data after pd.cut in the binning portion of the homework, im basing my
#observations from PyCitySchools_starter:

#1.Charter schools perform better than District schools overall
#2.The more money a school spends per student, the poorer their students perform (save your money!)
#3.Students are consistently better at reading than math